.root {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1200px;
  min-width: 600px;
  height: 100%;
  margin: 0 auto;
  padding: 16px 0;
}

.title {
  text-align: center;
}

.form {
  display: flex;
  width: 100%;
}

.textarea {
  width: 100%;
  resize: none;
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 4px;
  font-family: inherit;
}