.root {
  position: relative;
  max-height: 900px;
  height: 100%;
  padding: 0 16px;
  border: 1px solid #eee;
  border-radius: 8px;
  background: linear-gradient(to right, #dad299, #b0dab9);
  border-bottom: none;
  overflow-y: auto;
}